/* 
Project Name: Portfolio - Image Style Sheet
Client: Personal
Author: Ari Korner
*/

/******************************************
/* INDEX LAYOUT                   
/*******************************************/
     .css-hero {
          height: 0px;
          margin-top: -20px;
          padding-top: 47.5%;
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }



     #fast-forward-hero {
          background-image: url(../images/cover/cover-ff2.jpg);
     }

     #centanni-hero {
          background-image: url(../images/cover/cover-centanni03.jpg);
     }

     #midwood-hero {
          background-image: url(../images/cover/cover-midwood02.jpg);
     }

     #marathon-hero {
          background-image: url(../images/cover/cover-marathon.png);
     }

     #college-hero {
          background-image: url(../images/cover/cover-college.png);
     }
     #holga-hero {
          background-image: url(../images/cover/cover-holga.jpg);
     }
     #mondo-hero {
          background-image: url(../images/cover/cover-mondo.png);
     }
     #books-hero {
          background-image: url(../images/cover/cover-books02.jpg);
     }

/******************************************
/* Midwood                   
/*******************************************/

     #midwood-logo {
     background-image: url(../images/work/midwood/midwoodlogo02.jpg);
     }

     #midwood-menu {
     background-image: url(../images/work/midwood/midwoodmenus5.jpg);
     }

     #midwood-cards {
     background-image: url(../images/work/midwood/midwoodmenus3.png);
     }

     #midwood-card-fb {
     background-image: url(../images/work/midwood/midwoodcard04.jpg);
     }

     #midwood-space {
     background-image: url(../images/work/midwood/midwoodspace.jpg);
     }

     #midwood-in {
     background-image: url(../images/work/midwood/midwoodinterior.jpg);
     }

/******************************************
/* Book Cover Design                   
/*******************************************/
     #bj-img01 {
          background-image: url(../images/work/bookjacket/bookjacket01.jpg);
          }

     #bj-img02 {
          background-image: url(../images/work/bookjacket/bookjacket02.jpg);
          }

     #bj-img03 {
          background-image: url(../images/work/bookjacket/bookjacket03.jpg);
          }

     #bj-img04 {
          background-image: url(../images/work/bookjacket/bookjacket04.jpg);
          }


/******************************************
/* Viacom Fast Forward                   
/*******************************************/
     
          /*900/1824 = padding-top*/

     .ff-hero {
          height: 0px;
          margin-top: -20px;
          padding-top: 49.34%;
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }

               /*1026/1824 = padding-top*/

     .ff-herologo {
          height: 0px;
          margin-top: -20px;
          padding-top: 56.25%;
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }
     
          #ff-img01 {
               background-image: url(../images/work/ff/ff-logo01.jpg);
          }

          #ff-img02 {
               background-image: url(../images/work/ff/ff-background02.jpg);
          }

          #ff-img04 {
               background-image: url(../images/work/ff/ff-pres01.jpg);
          }
          
          #ff-img05 {
               background-image: url(../images/work/ff/ff-pres02.jpg);
          }

          #ff-img06 {
               background-image: url(../images/work/ff/ff-pres03.jpg);
          }




/******************************************
/* Cent'Anni                   
/*******************************************/

     /*1824px x 1216*/

     .ca-hero {
          height: 0px;
          margin-top: -20px;
          padding-top: 66.66%;
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }

          #ca-img01 {
               background-image: url(../images/work/centanni/centanni-facade.jpg);
                    }
          #ca-img02 {
               background-image: url(../images/work/centanni/02-centanni.jpg);
                    }
          #ca-img03 {
               background-image: url(../images/work/centanni/03-centanni-menu.jpg);
          }
          #ca-img04 {
               background-image: url(../images/work/centanni/04-centanni-menu.jpg);
          }
          
          #ca-img05 {
               background-image: url(../images/work/centanni/05-centanni.jpg);
          }

          #ca-img06 {
               background-image: url(../images/work/centanni/06-centanni-ragu.jpg);
          }

          #ca-img07 {
               background-image: url(../images/work/centanni/07-centanni.jpg);
          }

          #ca-img08 {
               background-image: url(../images/work/centanni/08-centanni.jpg);
          }


/******************************************
/* Marathon                   
/*******************************************/


/******************************************
/* College Snowfest                   
/*******************************************/

          #snowfest-img01 {
               background-image: url(../images/work/snowfest/snowfest01.jpg);
                    }
          #snowfest-img02 {
               background-image: url(../images/work/snowfest/snowfest02.jpg);
                    }
          #snowfest-img03 {
               background-image: url(../images/work/snowfest/snowfest2015-identity.png);
                    }
          #snowfest-img04 {
               background-image: url(../images/work/snowfest/snowfest04.jpg);
                    }
          #snowfest-img05 {
               background-image: url(../images/work/snowfest/snowfest2014-identity.png);
                    }
          #snowfest-img06 {
               background-image: url(../images/work/snowfest/snowfest05.jpg);
                    }


/******************************************
/* Holga                   
/*******************************************/


          #holga-img01 {
               background-image: url(../images/work/holga/holga01.jpg);
                    }

          #holga-img02 {
               background-image: url(../images/work/holga/holga02.gif);
                    }

          #holga-img04 {
               background-image: url(../images/work/holga/holga04.jpg);
                    }
/******************************************
/* Mondo                   
/*******************************************/

          #mondo-img01 {
               background-image: url(../images/work/mondo/mondo-logolockup.png);
                    }

          #mondo-img02 {
               background-image: url(../images/work/mondo/mondo-brandelements.png);
                    }

          #mondo-img03 {
               background-image: url(../images/work/mondo/mondo-icons.png);
                    }

          #mondo-img05 {
               background-image: url(../images/work/mondo/mondo-cardspread.jpg);
                    }


     /**

          #fast-forward-hero:hover {
          height: 0px;
          margin-top: -20px;
          padding-top: 47.5%;
          background-image: url(../images/cover/cover-ff-hover.jpg);
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }**/