/* 
Project Name: Portfolio - Image Style Sheet
Client: Personal
Author: Ari Korner
*/

/******************************************
/* LAYOUT                   
/*******************************************/
     .css-hero {
          height: 0px;
          margin-top: -20px;
          padding-top: 47.5%;
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }

     #fast-forward-hero {
          background-image: url(../images/cover/cover-midwood.jpg);
     }

     #midwood-hero {
          background-image: url(../images/cover/cover-ff.jpg);
     }

     #marathon-hero {
          background-image: url(../images/cover/cover-marathon.png);
     }

     #college-hero {
          background-image: url(../images/cover/cover-college.png);
     }
     #holga-hero {
          background-image: url(../images/cover/cover-holga.jpg);
     }
     #mondo-hero {
          background-image: url(../images/cover/cover-mondo.png);
     }
     #books-hero {
          background-image: url(../images/cover/cover-books.jpg);
     }


     /**

          #fast-forward-hero:hover {
          height: 0px;
          margin-top: -20px;
          padding-top: 47.5%;
          background-image: url(../images/cover/cover-ff-hover.jpg);
          background-repeat:no-repeat;
          background-size: contain;
          background-position:center;
          width: 100%;
          clear: both;
     }**/