/* 
Project Name: Online Portfolio
Client: Personal
Author: Ari Korner
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 16px;
     line-height: 1.4;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******************************************
/* Menu                   
/*******************************************/


     html, body, main, nav {
       height: 100%;
     }

     .navToggle {
       position: fixed;
       top: 50px;
       right: 50px;
       z-index: 10;
       text-align: center;
     }

     .navToggle:hover {
       cursor: pointer;
     }
     .navToggle:hover .menu, .navToggle:hover .menu:before, .navToggle:hover .menu:after {
       background: #666666;
     }
     .navToggle:hover .menuOn {
       background: transparent;
     }

     .menu, .menu:before, .menu:after {
       position: relative;
       display: inline-block;
       width: 25px;
       height: 3px;
       background: #b6ac84;
       transition: 0.3s;
     }
     .menu:before, .menu:after {
       content: "";
       position: absolute;
       left: 0;
     }
     .menu:before {
       top: 10px;
     }
     .menu:after {
       bottom: 10px;
     }

     .menuOn {
       background: transparent;
     }
     .menuOn:before {
       top: 0;
       transform: rotate3d(0, 0, 1, 45deg);
     }
     .menuOn:after {
       bottom: 0;
       transform: rotate3d(0, 0, 1, -45deg);
     }

     nav {
       /* display: none; */
       position: fixed;
       z-index: -1;
       top: 0;
       left: 100%;
       width: 100%;
       height: 100%;
       padding: 20px 105px 20px 25px;
       transition: all .2s ease-in-out;
       color: #fff;
     }
     nav a {
       color: #fff;
       text-decoration: none;
     }
     nav a:hover {
       color: #b6ac84;
     }
     nav.navOn {
       display: block;
       z-index: 5;
       left: 0;
       background: rgba(0, 0, 0, 0.9);
       overflow-y: auto;
     }
     nav ul {
       list-style: none;
       padding: 0;
       margin: 0;
     }
     nav ul li {
/*       border-bottom: 1px solid rgba(255, 255, 255, 0.2);
*/     }
     nav ul li a {
       display: block;
       padding: 5px;
       font-weight: 100;
       font-size: 1.5rem;
       font-family: 'Work Sans', Helvetica, sans-serif;
       font-weight: 300;
       font-style: normal;
       text-transform: none;
     }

     nav ul li:first-child {
       padding-top: 5em;
      
     }
     nav ul li a:hover {
       color: #b6ac84;
     }

/******************************************
/* LAYOUT                   
/*******************************************/
  
  header {
    padding-top: 50px;
  }

    .home-button {
          margin-left: 20px;
          margin-top: -15px;
          padding: 0px;
          font-size: 1.5rem;
          font-family: "clarendon-wide-stencil", "freight-big-pro", Baskerville, Times, serif;
          font-weight: 700;
          font-style: normal;
          cursor: pointer;
          color: #fff;
          text-align: center;
          border-radius: 30px;
          background: #050505;
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size : 1.5rem;
          display: block;
          text-decoration: none;

      }

    .intro{
          padding-left: 40px;
          padding-right: 60px;
          margin-bottom: 1.5em;
          margin-top: 5em;
     }

     .copy {
        width: 100%;
        padding-left: 40px;
        padding-right: 60px;
        padding-top: 4rem;

     }

     .heading{
          margin-top: 2.2rem;
     }

     a {
          font-family: "freight-big-pro", Baskerville, Times, serif;
          font-weight: 400;
          font-style: normal;
     }

     p {
          font-family: 'Work Sans', Helvetica, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1rem;
          color: #050505;
     }

     .heading-text {
          width: 100%;
          font-family: "freight-big-pro", Baskerville, Times, serif;
          font-weight: 700;
          font-style: normal;
          font-size: 2rem;
          line-height: 1.75rem;
          letter-spacing: .04rem;
          text-align: center;
          margin-bottom: 0px;
     }

     .category {
      color: #050505;
      text-align: center;
      letter-spacing: .04rem;
      text-transform: uppercase;
      margin-top: .6rem;
      font-size: .6rem;

     }

    .divider {
      letter-spacing: -1rem;
      text-align: center;
      color: #050505;
      margin-top: .6rem;
    }

    .hero-text {
          width: 85%;
          font-family: "freight-big-pro", Baskerville, Times, serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1.6rem;
          line-height: 1.7rem;
          letter-spacing: .02rem;
          margin-bottom: -10px;
     }

     h1 { 
          font-weight: 900;
          font-size: 6em;
          line-height: 1.2;
          letter-spacing: -.01em;
     }

     h2 { 
          width: 100%;
          font-family: "freight-big-pro", Baskerville, Times, serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1rem;
          line-height: 1.4rem;
          letter-spacing: .04rem;
          margin-top: 20px;
          margin-bottom: -10px;
     }

     h3 {
          font-size: 1.5rem;
          line-height: 1.5rem;
          color: #222222;
          font-family: "freight-big-pro", Baskerville, Times, serif;
          font-weight: 700;
          font-style: normal;
          text-transform: none;
          letter-spacing: .04em;
          margin-top: 2rem;
          margin-bottom: 10px;

     }

      h4 {
          font-family: 'Work Sans', Helvetica, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: .8rem;
          color: #b6ac84;
          text-transform: uppercase;
          letter-spacing: .04em;
          margin-bottom: 0.5rem;
     }

     #experience {
        font-size: 2rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
     }

     /*video*/

     iframe {
      background: fff;
     }

     .videowrapper {
          background-color: white;
          width:100%;
          margin:0 auto;
          padding:20px;
        }

    .video-container {
          position: relative; 
          padding-bottom: 56.25%; /* keeps the aspect ratio */
          padding-top: 30px; height: 0; 
        }

    .video-container iframe,
    .video-container object,
    .video-container embed { 
          position: absolute; 
          top: 0; left: 0; 
          width: 100%; 
          height: 100%;
        }

     /*images*/


     .imagewrapper {
            margin-left: 0;
            width: 100%;
            cursor: default;
     }

     .imagewrapper > section {
          position: relative;
          float: left;
          display: block;  
          padding-bottom: .5em;
     }
    
      .hotzone {
          cursor: pointer;

      }

     .full {
          border-left: 1.5em solid #fff;
          border-right: 1.5em solid #fff;
     }

     .next-wrapper {
        clear: both;
        width: 100%;
        height: 200px;
        padding-top: 30px;
        text-align: center;
     }

     .next-btn {
        font-family: "freight-big-pro", Baskerville, Times, serif;
        font-weight: 400;
        font-style: normal;
        margin: 0 auto;
        color: #fff;
        border-radius: 50px;
        background: #050505;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size : 1.5rem;
        display: block;
        text-decoration: none;
/*        box-shadow: 5px 10px 15px #020202;*/

    }


     .proj-title {
        font-size: 2.8rem;
        vertical-align: middle;
        color: #fff;
        font-family: "freight-big-pro", Baskerville, Times, serif;
        font-weight: 400;
        font-style: normal;
        text-transform: none;
/*        letter-spacing: .04em;*/
/*        margin-bottom: 10px;*/
        margin: 0 0 0 40px;
     }

     .proj-title:hover {
        border-bottom: 1px solid #fff;
        margin: 0 0 0 40px;
     }

     footer {
          clear: both;
          background: #fff;
          border-top: 1px dashed;
          padding: 30px;
          overflow: hidden;

     }

     .foot-wrapper p {
          font-size: 1.25em;
          padding-bottom: 1em;
 
     }

     strong a {
          font-family: 'Work Sans', Helvetica, sans-serif;
          font-weight: 400;
          font-style: normal;
          text-decoration: none;
          color: #050505;
          border-bottom: 1px solid #ed6541;
     }

     small {
          padding-top: 20px;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 1px;

     }

     .contact {
          color:#050505;
          border:2px solid #282b2d;
          padding: 10px 20px 13px 20px;
          margin-top:20px;
          font-size:15px;
          display: block;
          text-decoration: none;
          text-align: center;
          width: 60%;
          text-transform: uppercase;
        }

      .contact:hover {
          background: #282b2d;
          color: #fbf8ee;
        }

        span {
          color: #b6ac84;
        }

/***************************************************************************/

@media screen and (min-width: 767px) {
    /* desktop */

/*    body {
      max-width: 1200px;
    }*/

    nav ul li a {
       font-size: 2.75rem;
     }

     header {
          height: 60px;
          padding-top: 10px;
          margin: 0 auto;
          max-width: 1824px;
     }

    .home-button {
          font-size: 1.6rem;
          margin-top: 25px;
          -webkit-transition: background-color 1s ease-out;
          -moz-transition: background-color 1s ease-out;
          -o-transition: background-color 1s ease-out;
          transition: background-color 1s ease-out;
    }

    .home-button:hover {
          background-color: #b6ac84;
    }

    .heading{
          margin-top: 10rem;
          }

      .copy {
        width: 80%;
        padding-left: 40px;
        padding-right: 60px;

     }

    /*    THIS IS THE PROJECT HEADING TEXT   */     

      .heading-text {
          width: 100%;
          font-size: 4rem;
          line-height: 5.063rem;
          max-width: 1824px;
          letter-spacing: 0;
          text-align: center;
          }

      .category {
          letter-spacing: .04rem;
          text-transform: uppercase;
          margin-top: .2rem;
          font-size: .8rem;

     }

     .divider {
          letter-spacing: -1rem;
          text-align: center;
          color: gray;
          margin-top: .6rem;
          margin-bottom: 4rem;
        }

     .hero-text {
          width: 70%;
          font-size: 3.375rem;
          line-height: 3.375rem;
          max-width: 1824px;
          letter-spacing: 0;
          padding-bottom: 20px;
          padding-top: 100px;
          }

     main {
          max-width: 1824px;
          margin: 0 auto;
     }

     .foot-wrapper {
          max-width: 1824px;
          margin: 0 auto;
          padding:30px;
     }

     .footer-left {
          display: inline-block;
          width: 70%;
          padding: 20px;
          padding-right: 100px;
          float: left;
     }

     .footer-right {
          display: inline-block;
          width: 30%;
          float: right;
          padding: 20px;
          position: relative;
     }

     .copyright {
          display: inline-block;
          width: 30%;
          float: right;
          padding: 20px;
          position: relative;

     }

     p {
          font-size: 1.3rem;
          line-height: 1.5em;
     }

    h2 { 
          width: 80%;
          font-family: "freight-big-pro", Baskerville, Times, serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1.2rem;
          line-height: 1.5rem;
          letter-spacing: .04rem;
          margin-top: 30px;
          margin-bottom: 0px;
          padding-bottom: 30px;
     }

      h3 {
          font-size: 2.25rem;
          font-weight: 400;
          text-transform: none;
          letter-spacing: 0em;
          margin-top: 2rem;
          margin-bottom: 20px;

     }

     h4 {
          
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: .04em;
          margin-top: -.5rem;
          margin-bottom: .5rem;
     }

     #experience {
        font-size: 3.375rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        letter-spacing: .0;
     }

     .next-btn {
        font-size: 2.4rem;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
     }

      .next-btn:hover {
        background: #b6ac84;

     }


@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */

}

@media only screen and (min-width: 1824px) {
    /* styles for MacBook Pro-sized screens and larger */

    .navToggle {
       right: 200px;
     }

}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
    /* styles for Retina-type displays */
}
